<head>
    <link rel="stylesheet" href="~/css/Index.css">
</head>

<div class="mainBody playfair">
    <h1 class="text-center title display-4">The Book Club</h1>
    <p class="text-center">
        <a href="/register" class="start">Press to Get Started</a>
    </p>
</div>