@model User

<head>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="~/css/Nav.css">
    <link rel="stylesheet" href="~/css/Account.css">
</head>

<nav class="navbar playfair navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">The Book Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addbook">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link out" href="/logout">Sign Out</a>
      </li>
    </ul>
    <span class="navbar-text">
      Lets update you first name.
    </span>
  </div>
</nav>

<div class="jumbotron playfair">
    <br>
    <br>
    <form action="/saveupdatefirstname" method="post">
        <div class="row">
            <div class="col-md-4">
                <span class="error1" asp-validation-for="FirstName"></span>
                <input placeholder="First Name" class="thisInput form-control" asp-for="FirstName">
                <br>
                <input type="submit" value="Save First Name" class="btn btn-outline-primary">
                <a href="/account" class="cancel btn btn-outline-warning text-dark">Cancel Changes</a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </form>

</div>