.navbar{
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
}
.bg-light{
    background-color: rgba(29, 29, 29, 0.3) !important;
}
.nav-link, .navbar-brand, .navbar-text{
    color: white !important;
}
.navbar-text{
    font-style: italic;
}
.nav-link:hover{
    color: lightblue !important;
}
.active{
    color: rgb(243, 89, 89) !important;
}
.out{
    color: yellow !important;
    transition: 0.8s;
}
    .out:hover{
        color: red !important;
    }
.navbar-dark{
    border-color: white !important;
}
.dropdown-menu{
    background-color: rgba(116, 116, 116, 0.63);
}
.dropdown-item{
    color: white;
}